* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: skyblue;
}

#main-hub {
    height: 800px;
}

#left-portal {
    padding-top: 40px;
    width: 33%;
    float: left; 
    background-color: rgb(34, 158, 207);
}

#right-portal {
    padding-top: 40px;
    width: 33%;
    float: right;
    background-color: rgb(131, 207, 17);
}

#center-portal {
    width: 33%;
    margin: 0 auto;
    background-color: rgb(224, 38, 131);
}