@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    font-weight: 350px;
    color: black;
}

/*#logo {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 300%;
    color: skyblue;
}*/

#head-image {
    height: 400px;
    width: 100%;
    padding-bottom: 100px;
    /*margin: 0 0;*/
    background: url('../images/pexels-eternal-happiness-3326362.jpg');
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

#map li {
    float: left;
    list-style-type: none;
}

#map a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Zilla Slab';
    color: #ff80ff;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    font-size: 25px;
    margin-right: 25px;
    
}

#social-media li {
    float: right;
    list-style-type: none;
}

#social-media li {

}

#cover-text > h2 {
    font-size: 220%;
    font-family: Lobster;
    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .3);

    top: 130px;
    right: 200px;

    position: absolute;
}

#main-hub {
    height: 800px;
}

#left-portal {
    padding-top: 40px;
    height: 350px;
    width: 25%;
    margin-left: 70px;
    float: left; 
    background-color: rgb(34, 158, 207);
    background: url('../images/pexels-elly-fairytale-3822633.jpg');
    background-position: center;
    background-size: 150% 150%;
}

#right-portal {
    padding-top: 40px;
    /*old height*/
    /*height: 600px;*/
    height: 350px;
    margin-right: 70px;
    /*old width*/
    /*width: 31%;*/
    width: 25%;
    float: right;
    background-color: rgb(131, 207, 17);
    background: url('../images/pexels-pixabay-355863.jpg');
    background-position: center;
    background-size: 150% 150%;
}

#center-portal {
    padding-top: 40px;
    height: 350px;
    width: 25%;
    
    /* Margin below applies to all 3 divs */
    margin: 20px auto;
    background-color: rgb(224, 38, 131);
    background: url('../images/pexels-karolina-grabowska-4203069.jpg');
    background-position: center bottom;
    background-size: 150% 150%;
}

#main-hub2 {
    height: 800px;
}

#left-side {
    height: 500px;
    width: 33%;
    margin-left: 70px;
    background-color: crimson;
}

#crazy-man {
    height: 350px;
    width: 80%;
    background-color: cyan;
    margin: 20px auto;
    position: relative;
}